@(level: String = "error")(body: (String) => Html)
 
@level match {
    
  case "success" => {
    <div class="alert alert-success alert-dismissable">
   		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      @body("green")
    </div>
  }

  case "warning" => {
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      @body("orange")
    </div>
  }

  case "error" => {
    <div class="alert alert-danger alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      @body("red")
    </div>
  }
    
}